.news-page {
  margin: 80px 0;
  display: flex;

  &__sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }
  &__sidebar-form {
    margin-bottom: 50px;
    width: 100%;
    position: relative;

    & input {
      height: 45px;
      width: 100%;
      background: #f1f1f1 none repeat scroll 0 0;
      border: medium none;
      color: #8e8d8d;
      font-size: 13px;
      padding-left: 15px;
      padding-right: 55px;

      &:hover,
      &:focus {
        outline: none;
      }
    }
    & button {
      background-color: #dedede;
      border: medium none;
      cursor: pointer;
      font-size: 18px;
      height: 45px;
      line-height: 50px;
      padding: 0 16px;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease 0s;
      & i {
        font-size: 20px;
        color: $header-hover;
      }
    }
  }
  &__sidebar-title {
    margin-bottom: 20px;
    color: #383838;
    font-size: 18px;
    font-weight: 600;
    font-family: Playfair Display, serif;
  }
  &__sidebar-list {
    margin-bottom: 40px;
    & li {
      margin-bottom: 20px;
      font-weight: bold;

      & a {
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
        color: #888;
        transition: all 0.4s ease;
        &:hover,
        &:focus {
          color: $header-hover;
        }
      }
    }
  }
  &__main {
    flex: 0 0 75%;
    max-width: 75%;
  }
  &__sidebar-archive {
    font-size: 14px;
    color: $car-color;
  }
  &__sidebar-archive-list {
    margin-top: 10px;
    margin-bottom: 50px;
    & li {
      line-height: 30px;
      font-size: 14px;
      & a {
        color: $car-color;
        transition: all 0.4s ease;

        &:hover,
        &:focus {
          color: #000;
          text-decoration: underline;
        }
      }
    }
  }

  &__sidebar-tags {
    & li {
      margin: 10px 5px 0 0;
      display: inline-block;

      & a {
        border: 1px solid #cbcbcb;
        color: #383838;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        padding: 13px 19px;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;

        &:hover,
        &:focus {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  &__main {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
  }
  &__main-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
    text-align: center;
  }

  &__img {
    width: 100%;
    vertical-align: bottom;
  }

  &__text-wrapper {
    background-color: #fafafa;
    padding: 20px 20px 25px;
    transition: all 0.3s ease 0s;
  }

  &__title {
    font-family: Playfair Display, serif;
    color: #434343;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin: 4px 0 18px;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: $header-hover;
    }
  }
  &__author,
  &__date {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-right: 15px;
    color: $news-color;
  }
  &__pagination {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__pagination-list {
    display: flex;
    justify-content: center;
    & li {
      flex: 0 0 auto;
      margin: 0 3px;
      & a {
        background-color: #f6f6f6;
        color: #3f3f3f;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        height: 40px;
        line-height: 41px;
        width: 40px;
        transition: all 0.3s;

        &:hover,
        &:focus {
          background-color: #3f3f3f;
          color: #fff;
        }
      }
    }

    & li.active a {
      background-color: #3f3f3f;
      color: #fff;
    }
  }
}
.recent-posts {
  &__item {
    margin-bottom: 30px;
    display: flex;
  }
  &__img {
    & a {
      display: inline-block;
      width: 110px;
    }
    & img {
      width: 100%;
    }
  }

  &__text {
    margin-left: 20px;

    & span {
      display: inline-block;
      margin-bottom: 6px;
      color: #8b8b8b;
      font-size: 14px;
    }
  }
  &__title {
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: 21px;

    a {
      font-family: Playfair Display, serif;
      font-size: 14px;
    }
  }
}

@media (max-width: 900px) {
  .news-page {
    margin: 30px 0;
    flex-direction: column-reverse;

    &__sidebar {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__main {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
    }
    &__main-wrapper {
      flex-direction: column;
    }
    &__item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
    }
  }
}
