.product {
  padding: 40px 0;

  display: flex;
  margin-top: 60px;

  &__img {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 0;
    padding: 0 15px;

    .slider-for {
      margin-bottom: 10px;
      & img {
        max-width: 555px;
        width: 100%;
      }
    }

    .slider-nav {
      & img {
        max-width: 131.25px;
        width: 100%;
        cursor: pointer;
      }

      & img + img {
        margin-left: 10px;
      }
    }
    .slick-list {
      padding: 0 !important;
    }
  }
  &__text {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  &__text-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Playfair Display, serif;
    font-weight: 500;
    line-height: 1.2;
  }
  &__text-art {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
    color: $car-color;
  }
  &__text-reviews {
    margin-bottom: 20px;

    & span {
      display: inline-block;
      margin-left: 5px;
      font-size: 14px;
      color: #686868;
    }
  }
  &__text-price {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    color: $header-hover;
  }
  &__text-availability {
    margin-bottom: 20px;
    color: $car-color;
    font-size: 14px;
  }
  &__text-description {
    font-size: 14px;
    line-height: 24px;
    color: #3e3e3e;
    margin: 0 0 15px;
  }

  &__text-order {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__text-plus-minus {
    padding: 12px 5px 8px;
    border: 1px solid #dcdcdc;
    width: 100px;
    display: flex;
    justify-content: space-around;

    & span {
      display: inline-block;
      color: #727272;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      height: 20px;
      width: 20px;
      text-align: center;
    }

    & input {
      background: transparent;
      border: none;
      font-size: 16px;
      height: 25px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 25px;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
  &__text-add-to-cart {
    & button {
      cursor: pointer;
      background-color: $header-hover;
      border: none;
      color: #fff;
      height: 47px;
      padding: 11px 25px 13px;
      margin: 0 30px;
      height: 47px;
      width: 150px;
      z-index: 1;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      background-image: linear-gradient(#343a40, #343a40);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: all 0.4s;

      &:hover,
      &:focus {
        background-size: 100% 100%;
      }
    }
  }

  &__text-btn-buy {
    & button {
      cursor: pointer;
      background-color: $header-hover;
      border: none;
      color: #fff;
      height: 47px;
      width: 200px;
      margin: 0 0 20px;
      height: 47px;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.4s;

      &:hover,
      &:focus {
        background: #050035;
      }
    }
  }

  &__text-share {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 15px;
    & span {
      margin-right: 14px;
    }

    & i {
      transition: all 0.4s ease;
    }
    & a {
      display: inline-block;
      margin-right: 14px;
      border: 1px solid #3f3f3f;
      border-radius: 50px;
      color: #585858;
      display: inline-block;
      height: 30px;
      text-align: center;
      width: 30px;
      line-height: 30px;
      transition: all 0.4s ease;

      &:hover,
      &:focus {
        background-color: $header-hover;
        border-color: $header-hover;

        & i {
          color: #fff;
        }
      }
    }
  }
  &__text-pay {
    margin: 0 0 15px;

    & p {
      margin: 0 0 5px;
      font-size: 14px;
      line-height: 24px;
      color: #3e3e3e;
    }

    & img {
      padding: 0.2em;
      max-width: 100%;
    }
  }
}
.product-additional {
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 20px;
    color: #666;
  }
  &__title.active {
    color: #333333;
  }

  &__desc {
    border: 1px solid #ececec;
    padding: 24px;
    & p {
      color: #545454;
      font-size: 15px;
      margin-bottom: 10px;
      text-align: justify;
      line-height: 24px;
    }
  }
  &__reviews {
    margin-top: 24px;
    display: none;
  }
  &__reviews-wrapper {
    margin-bottom: 10px;
    border: 1px solid #ececec;
    padding: 24px;
  }
  &__reviews-stars {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  &__reviews-title {
    line-height: 24px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &__reviews-author {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 13px;
    color: #686868;
    display: inline-block;
    margin-bottom: 20px;

    & b {
      color: #686868;
    }
  }
  &__reviews-review {
    color: #545454;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
  }
  &__reviews-report {
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;
    text-align: right;
    font-size: 11px;
    line-height: 16px;
    color: #686868;
  }
  &__details {
    padding: 24px;
    border: 1px solid #ececec;
    display: none;
  }
  &__details-item {
    margin-bottom: 20px;

    ul {
      list-style: disc;
      padding-left: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    p {
      line-height: 1.5;
    }
  }
  &__details-title {
    line-height: 24px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    margin-bottom: 20px;

    & i {
      display: inline-block;
      margin-right: 10px;
      font-size: 20px;
    }
  }

  .slick-list.draggable {
    max-width: 535px;
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 !important ;
  }
}
.related-products {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__card {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    position: relative;
  }
  &__card-image {
    display: inline-block;
    margin-top: 20px;
    max-width: 250px;
    height: 200px;
    width: 100%;
  }

  &__card-text {
    &_price {
      color: #666;
      font-size: 18px;
      font-weight: 700;
      font-family: Playfair Display, serif;
      text-align: center;
      margin-top: 15px;
    }
    &_title {
      font-family: Playfair Display, serif;
      font-size: 18px;
      margin: 6px 0 5px;
      text-align: center;
      margin-top: 10px;
    }
  }

  &__hover-icons {
    display: none;
    max-width: 215px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    line-height: 1;
    text-align: center;
    padding: 13px 26px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px #0000001a;
    cursor: pointer;
    & i {
      font-size: 24px;
      margin: 0 10px;
    }
  }

  &__card-img-link,
  &__cart-title-link {
    display: block;
  }
}

@media (max-width: 600px) {
  .product__img {
    .slider-nav {
      & img {
        max-width: 131.25px;
        width: 100%;
        cursor: pointer;
      }

      & img + img {
        margin-left: 0px;
      }
    }
    .slick-list {
      padding: 0 !important;
    }
  }

  .related-products {
    &__card {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .related-products {
    &__card {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
@media (max-width: 1200px) {
  .breadcrumbs-product {
    h2 {
      font-size: 36px;
    }
  }
  .product {
    padding: 0;
    flex-direction: column;
    &__img {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__text {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .product-additional {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__title {
      font-size: 20px;
    }
  }
  .related-products {
    &__container {
      flex-wrap: wrap;
    }
    & .common-title {
      &::before {
        left: -33px;
        width: 25px;
      }
      &::after {
        right: -33px;
        width: 25px;
      }
    }
  }
}
