$main-color: #383838;
$items-color: #2a2b2c;
$header-hover: #c09578;
$hero-text: #444444;
$car-color: #686868;
$adv-color: #3e3e3e;
$pseudo-color: #9b9b9b;
$review-bg-color: #f7f7f7;
$news-color: #8f8f8f;
$footer-color: #666666;
